<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Made it past security, welcome [[${username}]]</h1>

<h2> make new users here</h2>
<form action="/signup" method="GET">
    <p>Username: <input typr="text" name="username" /></p>
    <p>Password: <input name="password" /></p>
    <p>First Name: <input name="firstName" /></p>
    <p>Last name: <input name="lastName" /></p>
    <p>Bio: <input name="bio" /></p>
    <p>Date of birth: <input type="datetime" name="dateOfBirthString" /></p>
    <input type="submit" />



    <nav>
        <ul>
            <li>
                <a href="/login">Login</a>
            </li>
        </ul>
    </nav>
</form>
</body>
</html>