<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/style.css" rel="stylesheet" >
</head>

<body>

<div th:replace="fragments/header :: header">...</div>


<form action="/login" method="post">
    Username <input type="username" name="username">
    Password <input type="password" name="password">
    <input type="submit">
</form>

<a href="/signup">Sign Up</a>

</body>
</html>